@layer base {
  *, *::before, *::after {
    @apply box-border m-0 p-0;
  }

  html {
    @apply w-full scroll-smooth;
  }

  body {
    @apply w-full bg-background text-foreground xs:text-xs sm:text-sm md:text-nm lg:text-md font-sans antialiased overflow-x-hidden relative;
  }

  img, picture, video, canvas {
    @apply max-w-full block; /* responsive media */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif leading-none;
  }

  strong, b {
    @apply font-semibold text-accent-foreground;
  }

  :focus-visible {
    @apply outline-none border-ring ring-2 ring-offset-2 ring-offset-background ring-ring;
  }
}
