@layer components {
  /* ========== Navigation bar ========== */
  .navigation {
    @apply justify-between;

    & .nav-links {
      @apply hidden md:flex w-full ml-5 items-center;

      & li .nav-link {
        @apply px-3 py-2 border border-transparent rounded-sm hover:bg-accent hover:border-accent transition-colors duration-300;
      }
    }
  }

  /* ========== Hamburger menu ========== */
  .drawer-content {
    @apply bg-card border-l border-border;

    & .drawer-header {
      @apply w-full p-0;
    }

    & .links-menu {
      @apply w-full px-2.5 flex flex-col items-center;

      & .link-item {
        @apply w-full border-b border-border;

        & .link {
          @apply block w-full py-2 text-center text-md font-medium hover:bg-accent hover:text-accent-foreground dark:hover:text-accent dark:hover:bg-accent/30 border border-transparent rounded-md dark:hover:border-accent transition-colors duration-300;
        }
      }
    }

    & .drawer-footer {
      @apply w-full p-0 mb-10;
    }
  }

  /* ========== Hero banner ========== */
  .hero {
    @apply w-full min-h-[calc(100dvh-60px)] overflow-hidden gap-10 lg:gap-0 xl:gap-10;

    & .hero-intro {
      @apply xs:max-w-md sm:max-w-lg md:max-w-2xl gap-5 sm:gap-7.5 lg:gap-10 xl:gap-5;

      & .headings {
        @apply size-full max-w-md sm:max-w-full flex flex-col xs:gap-1 sm:gap-1.5 gap-2 overflow-hidden;
      }

      & .buttons {
        @apply size-full flex flex-col md:flex-row items-center md:items-start gap-3 sm:gap-4 md:gap-5;

        & .btn {
          @apply size-full sm:max-w-lg md:max-w-fit;
        }
      }
    }

    & .wrapper {
      & .hero-images {
        @apply size-full md:min-h-fit relative overflow-hidden flex flex-col items-center justify-end xs:size-76 sm:size-138 md:size-120 lg:size-full;

        & .hero-image {
          @apply w-auto h-60 sm:h-85 md:h-92 xl:h-120 2xl:h-130 absolute;
        }

        & .hero-canvas {
          @apply size-full sm:size-110 md:size-120 lg:size-120 xl:size-full mx-auto translate-y-4 sm:translate-y-6.5 md:translate-y-6.5 xl:translate-y-9 -z-10;
        }
      }
    }
  }

  /* ========== Section intro ========== */
  .section-intro {
    @apply w-full xs:max-w-md sm:max-w-lg md:max-w-2xl gap-3 sm:gap-4 md:gap-5;

    & .badge {
      @apply size-max py-1 md:py-1.5 px-3 md:px-4 gap-1;
    }
  }

  /* ========== About section ========== */
  .about {
    @apply gap-10 sm:gap-15 md:gap-20 lg:gap-25;

    & .about-layout {
      @apply size-full xs:max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-fit flex items-center gap-5 sm:gap-6.5 md:gap-7.5 lg:gap-10;

      & .about-caro {
        @apply lg:basis-1/2 px-0 sm:px-12 box-border;
      }

      & .about-typo {
        @apply lg:basis-1/2 xs:gap-3 sm:gap-4 md:gap-5;

        & .cta-btn {
          @apply size-full flex items-center justify-center lg:justify-start;
        }
      }
    }
  }

  /* ========== Tech stack section ========== */
  .tech-stack {
    @apply gap-10 sm:gap-15 md:gap-20 lg:gap-25;

    & .skill-grid {
      @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-12 lg:gap-16;

      & .skillset {
        @apply size-full flex flex-col items-center gap-4 md:gap-6 lg:gap-7.5;

        & .skills-list {
          @apply w-full flex-wrap gap-3 sm:gap-4 lg:gap-5;
        }
      }
    }
  }

  /* ========== Showcase section ========== */
  .case-studies {
    @apply gap-10 sm:gap-15 md:gap-20 lg:gap-25;

    & .project {
      @apply max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-full gap-5 md:gap-10 lg:gap-20;

      & .project-content {
        @apply size-full flex flex-col items-center gap-8 lg:gap-10;

          & .wrapper {
            & .case-card-container {
              @apply size-full xs:max-w-xs sm:max-w-md lg:max-w-lg overflow-hidden relative;

              & .case-card {
                @apply xs:w-50 sm:w-80 xl:w-85 xs:h-65 sm:h-100 xl:h-110 p-2 sm:p-3 rounded-xl sm:rounded-3xl bg-secondary shadow-2xl origin-[10%_60%];

                & .case-card-image {
                  @apply size-full bg-primary xs:rounded-lg sm:rounded-2xl object-contain;
                }
              }
            }

            & .case-info {
              @apply size-full md:max-w-2xl lg:max-w-full flex flex-col gap-5 text-center;

              & .badge-container {
                @apply flex flex-wrap gap-2 justify-center;
            }
          }
        }
      }

      & .wrapper {
        & .project-btn {
          @apply size-full md:max-w-xl lg:w-fit;
        }
      }
    }
  }

  /* ========== Testimonials section ========== */
  .testimonials {
    @apply gap-10 sm:gap-15 md:gap-20 lg:gap-25;

    & .review-caro {
      @apply px-0 sm:px-12 box-border;
    }
  }

  /* ========== FAQ section ========== */
  .faq {
    @apply gap-10 sm:gap-15 md:gap-20 lg:gap-25;

    & .accordion {
      @apply size-full max-w-2xl bg-card border border-border rounded-sm md:rounded-md overflow-hidden;
    }
  }

  /* ========== Get in touch section ========== */
  .get-in-touch {
    @apply 2xl:flex-1 py-10 2xl:py-0 bg-primary relative overflow-hidden;

    & .git-container {
      @apply gap-5 sm:gap-7.5 md:gap-10 lg:gap-12.5;
    }
  }

  /* ========== Footer ========== */
  .footer-grid {
    @apply py-10 2xl:py-0 grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-5;
  }

  .addresses {
    @apply size-full flex flex-col justify-center 2xl:items-start gap-3;

    & .flex-box {
      @apply 2xl:justify-start;
    }
  }

  .newsletters {
    @apply max-w-2xl mx-auto gap-5 md:gap-7.5 lg:gap-10;

    & .newsletters-intro {
      @apply size-fit flex flex-col items-center gap-3;
    }

    & .newsletter-form {
      @apply w-full gap-5;

      & .wrapper {
        & .input {
          @apply w-full max-w-100 mx-auto;
        }
      }
    }
  }

  .resources {
    @apply size-fit flex md:flex-col items-center gap-2;

    & li .rs-link {
      @apply hover:text-accent transition-colors duration-300 ease-in-out;
    }
  }

  .copyrights {
    @apply w-full h-fit py-2 text-center;
  }
}