@layer components {
  /* ========== Navigation bar ========== */
  .navigation {
    @apply justify-between;
  }

  .nav-links {
    @apply px-3 py-2 border border-transparent rounded-sm hover:bg-accent hover:border-accent dark:hover:bg-accent/30 dark:hover:border-accent transition-colors duration-300;
  }

  /* ========== Hero banner ========== */
  .hero-banner {
    @apply h-[calc(100dvh-60px)] overflow-hidden;

    & .hero-intros {
      @apply size-full;

      & .headings, .description, .buttons {
        @apply w-full h-fit box-border overflow-hidden;
      }
    }

    & .hero-images {
      @apply w-full min-h-fit relative overflow-hidden flex flex-col items-center justify-end;

      & .hero-image {
        @apply h-150 w-auto absolute;
      }

      & .hero-canvas {
        @apply w-full scale-110 translate-y-3 -z-10;
      }
    }
  }

  .hero-caret {
    @apply inline-block w-[0.6ch] h-9 ml-2 bg-amber-500;
  }

  /* ========== About section ========== */
  .about {
    @apply py-10 gap-30;

    & .about-layout {
      @apply w-full flex items-center justify-center flex-col gap-10 md:flex-row md:gap-20;
    }
  }

  /* ========== Skills section ========== */
  .skills {
    @apply  py-24 gap-20;
  }

  .skills-list {
    @apply w-full flex-wrap gap-5;
  }

  /* ========== Showcase section ========== */
  .showcase {
    @apply w-full mx-auto py-20 gap-20;
  }

  .project {
    @apply w-full min-h-150 gap-20;
  }

  .card-container {
    @apply w-125 h-[450] overflow-hidden relative;
  }

  .card {
    @apply w-80 h-96 rounded-3xl bg-secondary shadow-2xl origin-[10%_60%];
  }

  .info {
    @apply w-full flex flex-col gap-4;
  }

  /* ========== Testimonials section ========== */
  .testimonials {
    @apply w-full py-24 gap-20;
  }

  /* ========== Get in touch section ========== */
  .get-in-touch {
    @apply w-full h-1/2 bg-primary relative overflow-hidden;
  }
}
