@layer components {
  /* ========== Navigation bar ========== */
  .navigation {
    @apply justify-between;

    & .nav-links {
      @apply hidden md:flex w-full ml-5 items-center;

      & li .nav-link {
        @apply px-3 py-2 border border-transparent rounded-sm hover:bg-accent hover:border-accent transition-colors duration-300;
      }
    }
  }

  /* ========== Hamburger menu ========== */
  .dialog-overlay {
    @apply fixed inset-0 bg-black/75 backdrop-blur-xs z-50;
  }

  .hamburger {
    @apply w-70 sm:w-96 md:w-120 focus:outline-none fixed top-0 right-0 z-50;

    & .hamburger-content {
      @apply bg-card border-l border-border;

      & .hamburger-header {
        @apply w-full flex items-center justify-end;
      }

      & .hamburger-links {
        @apply flex flex-col pt-6;

        & li .hamburger-link {
          @apply block w-full py-4 text-md font-medium hover:bg-accent hover:text-accent-foreground transition-colors;
        }
      }
    }
  }

  /* ========== Hero banner ========== */
  .hero-banner {
    @apply w-full min-h-[calc(100dvh-60px)] flex-col-reverse lg:flex-row gap-20 xs:gap-5 sm:gap-7.5 md:gap-10 overflow-hidden;

    & .hero-intros {
      @apply size-full xs:gap-4 sm:gap-5 md:gap-7.5 gap-10;

      & .headings {
        @apply w-full flex flex-col gap-2 xs:gap-1 sm:gap-1.5 overflow-hidden;
      }

      & .buttons {
        @apply size-full flex xs:flex-col sm:flex-col md:flex-row xs:gap-3 sm:gap-4 md:gap-4 gap-5;
      }
    }

    & .wrapper {
      @apply size-full;

      & .hero-images {
        @apply w-full min-h-fit relative overflow-hidden flex flex-col items-center justify-end xs:size-76 sm:size-138 md:size-120 lg:size-full;

        & .hero-image {
          @apply w-auto h-110 xs:h-60 sm:h-110 md:h-90 xl:h-112 2xl:h-140 absolute;
        }

        & .hero-canvas {
          @apply xs:size-76 sm:size-138 md:size-120 lg:size-full mx-auto xs:translate-y-4 sm:translate-y-8 md:translate-y-12 translate-y-3 -z-10;
        }
      }
    }
  }

  /* ========== About section ========== */
  .about {
    @apply py-10 gap-12 md:gap-20 lg:gap-30;

    & .about-layout {
      @apply w-full flex items-center justify-center flex-col gap-8 md:gap-12 lg:flex-row lg:gap-20;
    }
  }

  /* ========== Skills section ========== */
  .skills {
    @apply py-12 md:py-18 lg:py-24 gap-12 md:gap-16 lg:gap-20;
  }

  .skills-list {
    @apply w-full flex-wrap gap-3 sm:gap-4 lg:gap-5;
  }

  /* ========== Showcase section ========== */
  .showcase {
    @apply w-full mx-auto py-12 md:py-16 lg:py-20 gap-12 md:gap-16 lg:gap-20;
  }

  .project {
    @apply min-h-fit lg:min-h-150 gap-8 lg:gap-20;
  }

  .card-container {
    @apply w-80 sm:w-96 lg:w-125 h-80 sm:h-96 lg:h-112.5 overflow-hidden relative;
  }

  .card {
    @apply w-64 sm:w-80 lg:w-80 h-80 sm:h-96 lg:h-96 rounded-3xl bg-secondary shadow-2xl origin-[10%_60%];
  }

  .info {
    @apply w-full flex flex-col gap-4;
  }

  /* ========== Testimonials section ========== */
  .testimonials {
    @apply w-full py-12 md:py-18 lg:py-24 gap-12 md:gap-16 lg:gap-20;
  }

  /* ========== Get in touch section ========== */
  .get-in-touch {
    @apply w-full h-1/2 bg-primary relative overflow-hidden;
  }
}
