@layer components {
  /* ========== Navigation bar ========== */
  .navigation {
    @apply justify-between;

    & .nav-links {
      @apply hidden md:flex w-full ml-5 items-center;

      & li .nav-link {
        @apply px-3 py-2 border border-transparent rounded-sm hover:bg-accent hover:border-accent transition-colors duration-300;
      }
    }
  }

  /* ========== Hamburger menu ========== */
  .drawer-content {
    @apply bg-card border-l border-border;

    & .drawer-header {
      @apply w-full p-0;
    }

    & .links-menu {
      @apply w-full px-2.5 flex flex-col items-center;

      & .link-item {
        @apply w-full border-b border-border;

        & .link {
          @apply block w-full py-2 text-center text-md font-medium hover:bg-accent hover:text-accent-foreground dark:hover:text-accent dark:hover:bg-accent/30 border border-transparent rounded-md dark:hover:border-accent transition-colors duration-300;
        }
      }
    }

    & .drawer-footer {
      @apply w-full p-0 mb-10;
    }
  }

  /* ========== Hero banner ========== */
  .hero-banner {
    @apply w-full min-h-[calc(100dvh-60px)] flex-col-reverse lg:flex-row gap-20 xs:gap-5 sm:gap-7.5 md:gap-10 overflow-hidden;

    & .hero-intros {
      @apply size-full xs:p-5 p-0 xs:gap-4 sm:gap-5 md:gap-7.5 gap-10;

      & .headings {
        @apply size-full max-w-md sm:max-w-full flex flex-col xs:gap-1 sm:gap-1.5 gap-2 overflow-hidden;
      }

      & .buttons {
        @apply size-full flex flex-col sm:flex-row items-center md:items-start gap-3 sm:gap-4 lg:gap-5;
      }
    }

    & .wrapper {
      & .hero-images {
        @apply size-full md:min-h-fit relative overflow-hidden flex flex-col items-center justify-end xs:size-76 sm:size-138 md:size-120 lg:size-full;

        & .hero-image {
          @apply w-auto h-60 sm:h-85 md:h-90 lg:h-90 xl:h-110 absolute;
        }

        & .hero-canvas {
          @apply size-full sm:size-110 md:size-120 lg:size-120 xl:size-full mx-auto translate-y-4 sm:translate-y-6 md:translate-y-8 xl:translate-y-8 -z-10;
        }
      }
    }
  }

  /* ========== About section ========== */
  .about {
    @apply py-10 gap-12 md:gap-20 lg:gap-30;

    & .about-layout {
      @apply w-full md:max-w-xl lg:max-w-full flex items-center justify-center flex-col gap-8 md:gap-12 lg:flex-row lg:gap-20;
    }
  }

  /* ========== Tech stack section ========== */
  .tech-stack {
    @apply py-12 md:py-18 lg:py-24 gap-12 md:gap-16 lg:gap-20;

    & .skill-grid {
      @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-12 lg:gap-16;

      & .skillset {
        @apply size-full flex flex-col items-center gap-4 md:gap-6 lg:gap-7.5;

        & .skills-list {
          @apply w-full flex-wrap gap-3 sm:gap-4 lg:gap-5;
        }
      }
    }
  }

  /* ========== Showcase section ========== */
  .showcase {
    @apply w-full mx-auto py-12 md:py-16 lg:py-20 gap-10 md:gap-15 lg:gap-20 xl:gap-30;

    & .project {
      @apply gap-8 lg:gap-10;

      & .alignment {
        @apply size-full flex flex-col items-center gap-8 lg:gap-10;

          & .wrapper {
            & .card-container {
              @apply size-full xs:max-w-xs sm:max-w-md lg:max-w-lg overflow-hidden relative;

              & .card {
                @apply rounded-3xl bg-secondary shadow-2xl origin-[10%_60%];
              }
            }
          }

          & .info {
            @apply size-full max-w-xl lg:max-w-full flex flex-col xs:gap-2 sm:gap-3 gap-4 text-center;

            & .badge-container {
              @apply flex flex-wrap gap-2 justify-center;
          }
        }
    }
  }
}



  /* ========== Testimonials section ========== */
  .testimonials {
    @apply w-full py-12 md:py-18 lg:py-24 gap-12 md:gap-16 lg:gap-20;
  }

  /* ========== Get in touch section ========== */
  .get-in-touch {
    @apply w-full h-1/2 bg-primary relative overflow-hidden;
  }
}
