@import 'tailwindcss';
@import 'tw-animate-css';
@import './base.css';
@import './layout.css';
@import './components.css';
@import './utilities.css';
@import './overrides.css';

@layer base, layout, components, utilities, overrides;

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Font families */
  --font-sans: var(--font-public-sans);
  --font-serif: var(--font-noto-serif);
  --font-special: var(--font-balthazar);

  /* Font sizes */
  --text-xs: clamp(0.625rem, 0.5921rem + 0.1645vw, 0.75rem);      /* 10 → 12 */
  --text-sm: clamp(0.75rem, 0.7171rem + 0.1645vw, 0.875rem);      /* 12 → 14 */
  --text-nm: clamp(0.875rem, 0.8421rem + 0.1645vw, 1rem);         /* 14 → 16 */
  --text-md: clamp(1rem, 0.9342rem + 0.3289vw, 1.25rem);          /* 16 → 20 */
  --text-lg: clamp(1.25rem, 1.1842rem + 0.3289vw, 1.5rem);        /* 20 → 24 */
  --text-xl: clamp(1.5rem, 1.3684rem + 0.6579vw, 2rem);           /* 24 → 32 */
  --text-2xl: clamp(2rem, 1.8684rem + 0.6579vw, 2.5rem);          /* 32 → 40 */
  --text-3xl: clamp(2.5rem, 2.3684rem + 0.6579vw, 3rem);          /* 40 → 48 */
  --text-4xl: clamp(3rem, 2.7368rem + 1.3158vw, 4rem);            /* 48 → 64 */

  /* Breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  /* Max widths */
  --max-width-xs: 20rem;
  --max-width-sm: 24rem;
  --max-width-md: 28rem;
  --max-width-lg: 32rem;
  --max-width-xl: 36rem;
  --max-width-2xl: 42rem;
  --max-width-3xl: 48rem;
  --max-width-4xl: 56rem;
  --max-width-5xl: 64rem;
  --max-width-6xl: 72rem;
  --max-width-7xl: 80rem;
  --max-width-8xl: 96rem;

  /* Border radiuses */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-ring: var(--navbar-ring);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-accent: var(--navbar-accent);
  --color-navbar-accent-foreground: var(--navbar-accent-foreground);
  --color-navbar-primary: var(--navbar-primary);
  --color-navbar-primary-foreground: var(--navbar-primary-foreground);
  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-golden-3: var(--golden-3);
  --color-golden-2: var(--golden-2);
  --color-golden-1: var(--golden-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --primary: oklch(69.6% 0.17 162.48deg);
  --primary-foreground: oklch(12.9% 0.042 264.695deg);
  --secondary: oklch(84.5% 0.143 164.978deg);
  --secondary-foreground: oklch(12.9% 0.042 264.695deg);
  --accent: oklch(82.8% 0.189 84.429deg);
  --accent-foreground: oklch(12.9% 0.042 264.695deg);
  --background: oklch(98.5% 0.001 106.423deg);
  --foreground: oklch(26.8% 0.007 34.298deg);
  --card: oklch(97% 0.001 106.424deg);
  --card-foreground: oklch(37.4% 0.01 67.558deg);
  --popover: oklch(97% 0.001 106.424deg);
  --popover-foreground: oklch(37.4% 0.01 67.558deg);
  --muted: oklch(92.3% 0.003 48.717deg);
  --muted-foreground: oklch(44.4% 0.011 73.639deg);
  --border: oklch(86.9% 0.005 56.366deg);
  --input: oklch(70.9% 0.01 56.259deg);
  --ring: oklch(82.8% 0.189 84.429deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(14.7% 0.004 49.25deg);
  --foreground: oklch(98.5% 0.001 106.423deg);
  --card: oklch(21.6% 0.006 56.043deg);
  --card-foreground: oklch(97% 0.001 106.424deg);
  --popover: oklch(21.6% 0.006 56.043deg);
  --popover-foreground: oklch(97% 0.001 106.424deg);
  --muted: oklch(26.8% 0.007 34.298deg);
  --muted-foreground: oklch(86.9% 0.005 56.366deg);
  --border: oklch(26.8% 0.007 34.298deg / 50%);
  --input: oklch(37.4% 0.01 67.558deg);
  --ring: oklch(82.8% 0.189 84.429deg / 30%);
}