@layer layout {
  .container {
    @apply size-full max-w-8xl xs:px-4 sm:px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-0 mx-auto box-border;
  }

  .wrapper {
    @apply size-full flex flex-col items-center justify-center;
  }

  .combo-layout {
    @apply lg:h-screen flex flex-col;

    & > * {
      @apply flex-1;
    }
  }

  nav {
    @apply w-full xs:h-10 sm:h-11 md:h-12 lg:h-15 bg-background text-nm border-b border-border sticky top-0 z-50;
  }

  main {
    @apply pb-10 sm:pb-15 md:pb-20 lg:pb-25 gap-10 sm:gap-15 md:gap-20 lg:gap-25;
  }

  footer {
    @apply size-full 2xl:flex-1;
  }
}
