@layer layout {
  /* Core layout containers */
  .container {
    @apply w-full max-w-desktop mx-auto;
  }

  .wrapper {
    @apply w-full h-full flex flex-col items-center justify-center;
  }

  /* Grid utilities */
  .grid-box {
    @apply w-full h-full grid place-items-center grid-cols-3 grid-rows-2 gap-16;
  }

  nav {
    @apply w-full h-15 bg-background text-nm border-b border-border sticky top-0 z-50;
  }

  main {
    @apply pb-20 gap-20;
  }

  footer {
    @apply w-full h-1/2;
  }
}
