@layer layout {
  /* Core layout containers */
  .container {
    @apply w-full max-w-desktop mx-auto;
  }

  .wrapper {
    @apply w-full h-full flex flex-col items-center;
  }

  /* Grid utilities */
  .grid-box {
    @apply w-full h-full grid place-items-center grid-cols-3 grid-rows-2 gap-16;
  }

  .site-main {
    @apply w-full pb-20 gap-20;
  }
}
