@layer layout {
  .container {
    @apply size-full max-w-8xl xs:px-2 sm:px-3 md:px-4 lg:px-6 xl:px-8 2xl:px-0 mx-auto box-border;
  }

  .wrapper {
    @apply size-full flex flex-col items-center justify-center;
  }

  nav {
    @apply w-full xs:h-10 sm:h-11 md:h-12 lg:h-15 bg-background text-nm border-b border-border sticky top-0 z-50;
  }

  main {
    @apply xs:pb-10 sm:pb-12 md:pb-16 pb-20 xs:gap-10 sm:gap-12 md:gap-16 gap-20;
  }

  footer {
    @apply w-full h-1/2;
  }
}
