@layer layout {
  .container {
    @apply w-full max-w-sm sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl 2xl:max-w-8xl xs:px-2 sm:px-3 md:px-4 lg:px-6 px-8 mx-auto;
  }

  .wrapper {
    @apply w-full h-full flex flex-col items-center justify-center;
  }

  nav {
    @apply w-full h-15 bg-background text-nm border-b border-border sticky top-0 z-50;
  }

  main {
    @apply xs:pb-10 sm:pb-12 md:pb-16 pb-20 xs:gap-10 sm:gap-12 md:gap-16 gap-20;
  }

  footer {
    @apply w-full h-1/2;
  }
}
