@layer utilities {
  /* General flex utilities */
  .flex-box {
    @apply flex flex-col items-center justify-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-inline {
    @apply inline-flex items-center;
  }

  /* Link and text helpers */
  .link-reset {
    @apply text-inherit no-underline hover:underline;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hero-caret {
    @apply inline-block w-[0.6ch] h-8 lg:h-11 xl:h-12 rounded-sm ml-2 bg-amber-500;
  }

  /* Text utilities */
  .hero-text {
    @apply inline-block font-black;
  }

  /* Special effects */
  .splash {
    @apply bg-primary absolute inset-0;

    clip-path: path("M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z");
  }
}
