@layer utilities {
  /* General flex utilities */
  .flex-box {
    @apply flex flex-col items-center justify-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-inline {
    @apply inline-flex items-center;
  }

  .flip {
    @apply flex-col lg:flex-row;
  }

  .alter {
    @apply flex-col-reverse lg:flex-row;
  }

  /* Link and text helpers */
  .link-reset {
    @apply text-inherit no-underline hover:underline;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hero-caret {
    @apply inline-block w-[0.6ch] h-8 lg:h-11 xl:h-12 rounded-sm ml-2 bg-amber-500;
  }

  /* Text utilities */
  .hero-text {
    @apply inline-block font-black;
  }

  /* Special effects */
  .splash {
    @apply w-full h-auto absolute bottom-0 left-0;
  }
}
